
.auth {
  width: 25%;
  margin: auto;
  background: #fde4e4;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 1.5rem;
  height: 200px;
}
.auth input {
  width: 100%;
  background: transparent;
  padding: 7px 0px;
  border: none;
  border-bottom: 1px solid rgba(33, 34, 69, 0.2980392156862745);
}
.auth_btn {
  border: none;
  padding: 7px 25px;
  background: #df2020;
  color: #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  width: 25%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_para {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  margin: auto;
}
.login_para:hover {
  color: #0d6efd;
}
.register{
    height: 250px;
}
@media only screen and (max-width: 768px) {
  .login {
    width: 80%;
  }
}
