/* about section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about_content h5 {
  font-size: 1.5rem;
  color: #df2020;
  font-weight: bold;
  margin-bottom: 1rem;
}
.about_content h2 {
  font-size: 2.1rem;
  font-weight: bold;
  color: #212245;
  text-align: center;
  margin-top: 0;
}
.about_content h2 span {
  color: #df2020;
}
.about_content p {
  color: #777;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 28px;
}
.about_images {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}
.about_img_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.about_img_block h3 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #212245;
}
.about_img_block p {
  text-align: center;
  padding: 0px 25px;
  color: #777;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1rem;
}
.about_img_block img {
  width: 25%;
  height: 25%;
  margin-bottom: 1rem !important;
}
.testy_container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.testy_container .testy_img {
  width: 500px;
}
.testy_container .testy_img img {
  width: 100%;
  height: 100%;
}
.testy_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 600px;
}
.testy_content h2 {
  color: #212245;
  font-weight: bold;
  font-size: 2.1rem;
}
.testy_content h2 span {
  color: #df2020;
}
.testy_content p {
  color: #777;
  margin-top: 0;
  line-height: 28px;
  gap: 0.5rem !important;
}

.testy_content nav {
  list-style: none;
}
.name_testy {
  color: #212245 !important;
  font-size: 1rem !important;
  font-weight: 700;
}
.testy_icon {
  color: #df2020;
  font-size: 8px;
  border: 1px solid #df2020;
  border-radius: 50%;
  padding: 2px;
  margin-right: 5px;
}
.pizza_hot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 80%;
  margin: auto;
}
.hot {
  text-align: center;
  padding: 20px;
  font-size: 2.1rem;
  font-weight: 600;
  color: #212245;
}
.pizza_block {
  width: 230px;
  flex-direction: column;
  border: 1px solid #fde4e4;
  text-align: center;
  padding: 30px 0px;
  cursor: pointer;
}
.pizza_block h3 {
  color: #212245;
  font-size: 1rem;
}
.pizza_hot_price {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  
  padding: 10px 0px;
}
.pizza_hot_price span {
  font-weight: bold;
  color: #df2020;
  font-size: 1rem;
  text-align: center;
}
.pizza_hot_price button {
  border: none;
  background-color: #df2020;
  color: #fff;
  border-radius: 4px;
  padding: 7px 20px;
}
.pizza_hot h2 {
  margin: auto;
}
.pizza_block img {
  width: 77px;
  height: 77px;
  transition: all 0.5s;
}
.pizza_block img:hover {
  transform: scale(1.2);
}
.blocks {
  width: 84%;
  line-height: 30px;
}
.blocks .pizza_block {
  width: 50%;
}
.blocks .pizza_hot_price {
  width: 100%;
}
/* testimonal component */
.testimonal_container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.testimonal_image {
  width: 456px;
  height: 456px;
}
.testimonal_image img {
  width: 100%;
  height: 100%;
}
.testimonal_content {
  width: 500px;
  line-height: 45px;
}
.testimonal_content h5 {
  color: #df2020;
  font-size: 1.25rem;
  font-weight: 500;
}
.testimonal_content h2 {
  color: #212245;
  font-weight: 600;
  font-size: 2rem;
}
.testimonal_content h2 span {
  color: #df2020;
}
.testimonal_content p {
  color: #777;
  line-height: 28px;
}

.slider_client {
  display: flex;
  align-items: center;
  color: #212245;
  font-weight: 600;
  gap: 1rem;
}
.slider_client img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}
.slider_content p {
  color: #777;
  line-height: 28px;
}
/* popular food */
.popular_food {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popular_food h2 {
  color: #212245;
  font-size: 2rem;
}
.food_types {
  background-color: #df2020;
  display: flex;
  gap: 5rem;
  background: #df2020;
  text-align: center;
  margin-top: 30px;
  padding: 20px 0;
  border-radius: 8px;
  width: 80%;
  justify-content: center;
}
.food_list_types {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 0.5rem;
  cursor: pointer;
}
.food_list_types img {
  width: 20px;
  height: 20px;
}
.actives {
  background-color: #fff;
  color: #df2020;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}
.actives img {
  width: 20px;
  height: 20px;
}
.foods_filters {
  margin-top: 25px;
  flex-wrap: wrap;
}
.paginationBttns {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 25px;
}
.paginationBttns a {
  padding: 5px 13px;
  background: #212245;
  color: #fff !important;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
@media only screen and (max-width: 768px) {
  .about_images {
    flex-direction: column;
  }
  .about_img_block {
    width: 100%;
  }
  .testy_container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .pizza_block {
    width: 40%;
  }
  .pizza_hot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    flex-wrap: wrap;
  }
  .pizza_hot_price button {
    border: none;
    background-color: #df2020;
    color: #fff;
    border-radius: 4px;
    padding: 2px 20px;
  }
  .pizza_hot_price {
    justify-content: space-around;
    width: 100%;
  }
  .testimonal_container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 80%;
  
  }
  .food_category {
    flex-direction: column;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-left: 5px;
    margin-right: 0px;
    padding: 60px 0px;
    gap: 2rem;
  }
  .food_category_block {
    width: 200px;
    height: 70px;
  }
  .food_category_block img {
    width: 35px;
  }
  .about_content p {
    text-align: center;
    padding-top: 10px;
  }
  .food_types {
    gap: 2rem;
    width: 90%;
  }
  .para{
    font-size: 15px;
  }
  .testy_content{
    line-height: 50px;
    padding-left: 15px;
    width: 90%;
  }
  .testimonal_content{
    width: 99%;
    padding-left: 15px;
  }
}
