.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 106px;
  margin: 0;
  padding: 0;
   /* animation: navbar 5s 2; */
}

/* @keyframes navbar {
  from {
    margin-top: -50%;
  }

  to {
    margin-top: 2%;
  }
} */
.logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo img {
  width: calc(100% - 60%);
  object-fit: contain;
  margin-top: -20px;
}

.logo_title {
  margin-left: -10px !important;
  font-weight: bold;
  font-size: 1rem;
  color: #212245;
  margin-top: -0.45px;
  margin-bottom: 0;
}
.nav .logo h5 {
  font-weight: bold;
  font-size: 1rem;
  color: #212245;
}
.nav nav {
  display: inline-block;
  gap: 1rem;
}
.nav nav a {
  font-weight: bold;
  font-size: 1rem;
  color: #212245;
  transition: 0.3s;
  cursor: pointer;
}
.nav nav a:hover {
  color: #df2020;
}
.default {
  font-weight: 600;
  font-size: 1rem;
  color: #212245;
  text-decoration: none;
  padding: 0 15px;
}
.activeClassName {
  text-decoration: none;
  color: #df2020 !important;
  padding: 0 15px;
  font-weight: 600;
}
.menu {
  position: relative;
}
.menu span {
  padding: 0px 15px;
}
.icon {
  height: 21px;
  width: 20px;
  position: relative;
  color: #000;
}
.user_icon_no {
  position: absolute;
  top: -8px;
  right: 40px;
  background: #df2020;
  color: #fff;
  width: 0px;
  height: 15px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__shrink {
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 99999;
  box-shadow: 5px 5px 15px -5px #fde4e4;
  width: 100%;
}
.mobile__menu {
  display: none;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .mobile__menu {
    display: block;
    font-weight: 600;
    margin-right: 15px;
  }
  .nav {
    padding: 0 15px;
    width: 100%;
    justify-content: space-between;
  }

  .nav nav {
    display: none;
  }
  .menu {
    display: flex;
  }
  .user_icon_no {
    left: 30px;
  }
  .show__menu {
    display: flex !important;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.425);
    z-index: 99;
    display: none;
    line-height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navigation {
    background-color: #fff;
    width: 50%;
  }
 
}
